
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Задачник HTML и CSS от Трепачёва Дмитрия</title>
	<link rel="stylesheet" href="sys.css">
</head>
<body>
	<div id="menu8">
		<ul>
			<li><a href="#">HOME</a></li>
			<li><a href="#">BLOG</a></li>
			<li><a href="#">PHOTOS</a></li>
			<li><a href="#">ABOUT</a></li>
			<li><a href="#">LINKS</a></li>
			<li><a href="#">CONTACT</a></li>
		</ul>
	</div>
    <div id="wrapper">
		<div id="header">
			header
		</div>
		<div id="left">
			left
		</div>
		<div id="content">
			content
		</div>
		<div id="right">
			right
		</div>
		<div class="clearfix"></div>
		<div id="footer">
			footer
		</div>
	</div>
    <div id="div">
        
    </div>
    <div id="footer">
        <ul>
            <li><a href="">Scelerisque</a></li>
            <li><a href="">Rhoncus</a></li>
            <li><a href="">Proin</a></li>
            <li><a href="">Tristique</a></li>
            <li><a href="">Faucibus</a></li>
        </ul>
    </div>
</body>
</html>